<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
    <title>Spring Boot Practice</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        --soft-black: rgb(30, 30, 30);
        --soft-white: rgb(200, 200, 200);
    }
    html {
        background-color: var(--soft-black);
        margin: 10px 20px 0px 20px;
    }
    h1 {
        font-family: 'The Nautigal', cursive;
        font-size: 42px;
        margin-bottom: 30px;
        text-align: center;
        color: var(--soft-white);
        transition: 0.3s;
    }
    h1:hover {
        color: white;
        text-shadow: 0px 0px 8px var(--soft-white);
        cursor: pointer;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 28px;
        color: var(--soft-white);
        font-family: 'Noto Sans KR', sans-serif;
    }
    p {
        color: var(--soft-white);
        font-size: 16px;
        font-family: 'Noto Sans KR', sans-serif;
        margin-bottom: 5px;
    }
    button, div, textarea, input {
        background-color: transparent;
        border: 2px solid var(--soft-white);
        border-radius: 5px;
        color: var(--soft-white);
        font-family: 'Noto Sans KR', sans-serif;
        transition: 0.2s;
    }
    textarea {
        resize: none;
    }
    input:focus, textarea:focus {
        outline: none;
        border-color: white;
        box-shadow: 0px 0px 8px  var(--soft-white);
    }
</style>
<body>
    <h1>Spring Boot Practice!</h1>