{{>header}}

<div class="container">
    {{#article}}
        <h2>
            {{title}}
            <span class="author">
                @{{author}}
            </span>
        </h2>
        <p>{{content}}</p>
    {{/article}}
</div>

{{>footer}}