{{>header}}

<div class="container">
    <h2>글 쓰기</h2>
    <form action="/write/upload" method="post">
        <label>
            <p>작성자</p>
            <input name="author" type="text" required/>
        </label>
        <label>
            <p>제목</p>
            <input name="title" type="text" required/>
        </label>
        <label>
            <p>내용</p>
            <textarea name="content" cols="70" rows="10" required></textarea>
        </label>
        <br />
        <button class="write-button" type="submit">♣ 글쓰기</button>
    </form>
</div>

{{>footer}}